doc/
Makefile
gl.App/
a2.app/
*.o
hscgv_uebung_1/ui_ApplicationWindow.h
hscgv_uebung_1/ui_UserParameterDialog.h
hscgv_uebung_1/moc_ApplicationWindow.cpp
hscgv_uebung_1/moc_GLFrame.cpp
hscgv_uebung_1/moc_Model.cpp
hscgv_uebung_1/moc_UserParameterDialog.cpp
build-gl-Qt_4_8_6_local-Debug/
*.autosave
build/
*.user
hscgv_uebung_3/raytrace
hscgv_uebung_3/input_yacc.*
*.ppm
*.aux
*.blg
*.log
*.pdf
*.dvi
